@import url(reset.css);

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Cria uma espaço entre os itens */
    align-items: center; /* Alinha os itens na vertical */
    height: 2.5rem;

    background-color: transparent;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    /* Estilização do Logotipo */
    .logotype {
        font-family: var(--font-logo);
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    /* Menu de navegação */
    .nav-container > .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        text-transform: uppercase;
        font-family: var(--font-nav);
        font-weight: 800;
    }

    .nav-bar > li > a {
        display: inline-block;
        position: relative;
        padding: 0.2rem 0.5rem;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-bar > li > a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0.12rem;
        background-color: var(--secondary-dark);
        transition: width 0.3s ease;
    }

    .nav-bar > li > a:hover::after {
        width: 80%;
    }

    /* Estilização do interruptor do tema */
    .theme-switcher {
        width: 3rem;
        height: 2rem;
        border: none;
        border-radius: 25rem;
    }

    .theme-switcher > img {
        width: 1.5rem;
    }
}