.dark-mode {
    --primary-dark: #181C26;
    --primary-light: #A6998F;

    --secondary-normal: #A6998F;
    --secondary-dark: #181C26;
    --secondary-light: #A6998F;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}