@import url(reset.css);

html {
    font-family: var(--font-default);
    font-weight: 500;
}

body {
    max-width: 100%;
    background: var(--primary-light);
    color: var(--secondary-normal);
    overflow-x: hidden;
}

header {
    margin: auto;
    background-color: var(--primary-dark);
}

/* HEADER */
nav {
    /* Flexbox */
    display: flex;
    flex-direction: row; /* default */
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.logotype {
    font-family: var(--font-logo);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    flex-direction: row; /* default */
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

li {
    display: flex;
    align-items: center;
}

.menu > li > a {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    text-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0.15rem;
        background-color: var(--secondary-normal);
        transition: width 0.3s ease;
    }

    &:hover::after {
        width: 80%;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.button-theme {
    background-color: transparent;
    border-radius: 25rem;
    border: 0.2rem solid var(--secondary-normal);
    padding: 0.25rem;
    transition: background-color 0.3s ease;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
        background-color: var(--secondary-normal);
    }
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-title);
    text-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    padding: 2rem;
}

.nav-profile-left {
    display: flex;
    flex-direction: column;
    width: 30rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    span {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    hr {
        border: none;
        height: 0.15rem;
        width: 10rem;
        background-color: var(--secondary-normal);
        margin: 0.5rem 0rem;
    }
}

.nav-subtitle {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.nav-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        max-width: 20rem;
        border-radius: 25rem;
        margin: 0 auto;
        box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    }
    
}

.hero-container {
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    display: flex;
    flex-direction: row;
    padding: 2.5rem 2.5rem;

    .quote {
        font-weight: 600;
        text-align: left;
        align-items: center;
        color: var(--color-default);
        font-family: var(--font-subtitle);
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 2rem;
        margin-top: 5rem;
        width: 25rem;
        margin-left: 60vh;
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-dark);
        color: var(--secondary-light);
        padding: 0.5rem;
        border-radius: 25rem;
        transition: transform 0.3s ease;
    }

    li > a:hover {
        transform: rotate(-10deg);
    }

    @keyframes shake {
        10% {
            transform: rotate(15deg);
        }
        20% {
            transform: rotate(-15deg);
        }
        30% {
            transform: rotate(15deg);
        }
        40% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(0deg);
        }
    }
}

.button-hero > a > button {
    margin: auto;
    color: var(--secondary-dark);
    background-color: transparent;
    border: 0.2rem solid var(--secondary-dark);
    border-radius: 25rem;
    padding: 0.8rem;
    text-wrap: nowrap;
    transition: background-color 0.3s ease;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: var(--secondary-dark);
        color: var(--primary-light);
        cursor: pointer;
    }
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 10rem;
}

.button-container {
    flex-wrap: wrap;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: row;
    margin: 5rem 5rem;
    color: var(--secondary-dark);
}

/*.viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.parallax-container {
    position: relative;
    height: 100vh;
    perspective: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    
    display: flex;
}

.parallax-container::-webkit-scrollbar {
    display: none;
}

.image-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-parallax img {
    display: block;
    height: auto;
    transform: translate3d(0, 0, 0);
} */

.about-picture {
    padding: 1rem;
}

.about-picture > img {
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
}

.about-content-title > span, h2 {
    font-family: var(--font-title);
    text-transform: capitalize;
    font-size: 1.5rem;
}

.about-content-title > h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: var(--font-title);
}

.about-content-title > hr {
    border: none;
    height: 0.15rem;
    width: 10rem;
    background-color: var(--secondary-dark);
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}

.about-content-title > p {
    margin-bottom: 1rem;
    margin-left: 10%;
}

.features-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.features-icon li {
    background-color: var(--secondary-dark);
    padding: 0.2rem;
    width: 8rem;
    border: 0.2rem solid var(--secondary-dark);
    border-radius: 25rem;
    justify-content: center;
    margin-left: 10%;

    font-size: 1.2rem;
    font-family: var(--font-default);
    font-weight: 600;
    color: var(--primary-light);
    text-transform: capitalize;   
}

.features-icon .icon:hover {
    background-color: var(--secondary-light);
    border: 0.2rem solid var(--secondary-dark);
    color: var(--secondary-dark);
    cursor: pointer;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    background-color: var(--primary-light);
}

.highlight {
    font-family: var(--font-highlight);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0rem 10rem;
}

.blue {
    color: var(--secondary-dark);
}

.portfolio-title {
    font-family: var(--font-subtitle);
    font-weight: 700;
    font-size: 2rem;
    color: var(--secondary-dark);
    margin: 0rem 10rem;
}

.portfolio-container-main {
    margin: 2% 15%;
}

.card-container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-dark);
    color: var(--secondary-light);
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-container > img {
    width: 100%;
    max-width: 20rem;
    transition: 0.25s;

    &:hover {
        transform: scale(1.2);
        z-index: 1;
    }
}

.portfolio-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background-color: var(--secondary-dark);
    font-size: 1rem;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    text-transform: capitalize;
    z-index: 99;
    cursor: default;
}

@media screen and (max-width: 758px) {
    .menu li {
        display: none;
    }

    .header-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-title);
        text-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
        margin: 0rem;
        padding: 0rem;
    }
    
    .nav-profile-left {
        display: flex;
        flex-direction: column;
        width: 15rem;
        padding: 1rem;
        text-align: center;
        
        h1 {
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: capitalize;
        }
    
        span {
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    
        hr {
            border: none;
            height: 0.15rem;
            width: 80%;
            background-color: var(--secondary-normal);
        }
    }
    
    .nav-subtitle {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        font-weight: 400;
        padding: 1rem;
    }
    
    .nav-picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
    
        img {
            max-width: 20rem;
            border-radius: 25rem;
            margin: 0 auto;
            box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
        }
        
    }

    .hero-container {
        background-color: var(--primary-light);
        color: var(--secondary-dark);
        display: flex;
        flex-direction: column;
    
        .quote {
            font-weight: 600;
            text-align: center;
            align-items: center;
            color: var(--color-default);
            font-family: var(--font-subtitle);
            font-size: 1.2rem;
            font-style: italic;
            margin: 0;
        }
    }
    
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.5rem;
    
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-dark);
            color: var(--secondary-light);
            padding: 0.5rem;
            border-radius: 25rem;
            transition: transform 0.3s ease;
        }
    
        li > a:hover {
            transform: rotate(-10deg);
        }
    
        @keyframes shake {
            10% {
                transform: rotate(15deg);
            }
            20% {
                transform: rotate(-15deg);
            }
            30% {
                transform: rotate(15deg);
            }
            40% {
                transform: rotate(-15deg);
            }
            50% {
                transform: rotate(0deg);
            }
        }
    }

    .social-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .button-container {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .highlight {
        margin: 0;
    }

    .portfolio-title {
        font-size: 1.5rem;
        margin: 0;
    }

    .card-container-main {
        flex-direction: column;
        height: 20rem;
    }

    .card-container > img {
        max-width: 40rem;
    }
}

/* RESOLUÇÃO 480PX */
@media screen and (max-width: 480px) {
    .menu li {
        display: none;
    }

    .header-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-title);
        text-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
        margin: 0rem;
        padding: 0rem;
    }
    
    .nav-profile-left {
        display: flex;
        flex-direction: column;
        width: 22rem;
        padding: 0.5rem;
        text-align: center;
        
        h1 {
            font-size: 2rem;
            font-weight: 300;
            text-transform: capitalize;
        }
    
        span {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    
        hr {
            border: none;
            height: 0.15rem;
            width: 80%;
            background-color: var(--secondary-normal);
        }
    }
    
    .nav-subtitle {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        font-weight: 400;
    }
    
    .nav-picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
    
        img {
            max-width: 15rem;
            border-radius: 25rem;
            margin: 0 auto;
            box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
        }
        
    }

    .hero-container {
        background-color: var(--primary-light);
        color: var(--secondary-dark);
        display: flex;
        flex-direction: column;
    
        .quote {
            font-weight: 600;
            text-align: center;
            align-items: center;
            color: var(--color-default);
            font-family: var(--font-subtitle);
            font-size: 1.2rem;
            font-style: italic;
            margin: 0;
        }
    }
    
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.5rem;
    
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-dark);
            color: var(--secondary-light);
            padding: 0.5rem;
            border-radius: 25rem;
            transition: transform 0.3s ease;
        }
    
        li > a:hover {
            transform: rotate(-10deg);
        }
    
        @keyframes shake {
            10% {
                transform: rotate(15deg);
            }
            20% {
                transform: rotate(-15deg);
            }
            30% {
                transform: rotate(15deg);
            }
            40% {
                transform: rotate(-15deg);
            }
            50% {
                transform: rotate(0deg);
            }
        }
    }

    .social-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .button-container {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .highlight {
        margin: auto;
        text-align: center;
    }

    .portfolio-title {
        font-size: 1.5rem;
        margin: auto;
        text-align: center;
    }

    .card-container-main {
        flex-direction: column;
        height: 20rem;
    }

    .card-container > img {
        max-width: 40rem;
    }
}








.portfolio-card {
    background: var(--primary-dark);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
}

.portfolio-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.portfolio-card-header-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.portfolio-card-title {
    color: var(--color-default);
    font-family: var(--font-subtitle);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 3.5rem;
}

.portfolio-evaluation {
    color: var(--primary-normal);
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 500;
}

.portfolio-description{
    color: var(--primary-normal);
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 400;
}

.portfolio-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.portfolio-author > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.portfolio-author-name {
    color: var(--primary-normal);
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.video-message {
    margin: auto;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-image {
    width: 40rem;
    margin: auto;
}

/* FOOTER */
footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--primary-dark);
    color: var(--color-default);
}

.footer-copyright {
    color: var(--color-default);
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 500;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
