@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Lancelot&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none; /* tag <a> */
    list-style: none; /* tag <ul> */
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

:root {
     /* Light mode */
    --primary-dark: #D9A679;
    --primary-light: #D9D0C7;

    --secondary-normal: #734636;
    --secondary-dark: #734636;
    --secondary-light: #D9D0C7;

    /* Google Fonts */
    --font-default: "Montserrat", sans-serif;
    --font-logo: "Lancelot";
    --font-nav: "Inter", sans-serif;
    --font-title: "Fira Sans", sans-serif;
}

/* Dark mode */
.dark-mode {
    --primary-dark: #181C26;
    --primary-light: #A6998F;

    --secondary-normal: #A6998F;
    --secondary-dark: #181C26;
    --secondary-light: #A6998F;
}